---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  padding-left: 4rem;
  padding-top: 4rem;
}

a {
  color: #3CC3C3;
}

a:hover {
  color: darkblue;
}

#avatar {
  width: 200px;
}

ul {
  padding: 0;
  list-style: none;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  color: rgb(211, 20, 228);
  text-decoration: underline;
  margin-top: 3rem;
}





